@using BookMe.Web.Resources
@model BookMe.BusinessLogic.Model.Club
@{
    ViewBag.Title = "_ClubDetails";
}

<div class="fieldset-container">
    <div class="row">
        <div class="col-md-5">
            <input type="button" value="@Strings.UploadImage" onclick="" class="btn btn-info" />

        </div>
        <div class="col col-md-7">
            <fieldset class="form-group">
                @Html.LabelFor(m => Model.Name)
                @Html.DisplayFor(m => Model.Name)
            </fieldset>
            <fieldset class="form-group">
                @Html.LabelFor(m => Model.Email)
                @Html.DisplayFor(m => Model.Email)
            </fieldset>
            <fieldset class="form-group">
                @Html.LabelFor(m => Model.Phone)
                @Html.DisplayFor(m => Model.Phone)
            </fieldset>
        </div>
    </div>
    <div class="row">
        <input type="button" value="@Strings.Edit" onclick="location.href='@Url.Action("EditClub", "Admin" )'" class="btn btn-success" />
    </div>
</div>